@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
html {
  font-size: 24px;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
  color: #E0E1DD;
}

h1, h2, h3, h4, h5 {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0D1B2A;
}

#mainHeader {
  background-color: #0D1B2A;
}
#mainHeader a:visited, #mainHeader a {
  color: #E0E1DD;
  text-decoration: none;
  padding-left: 5px;
}

#header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header-container #rightHeader {
  display: flex;
  justify-content: space-around;
  margin-right: 40px;
}
#header-container #leftHeader {
  display: flex;
  padding-left: 2.5vw;
}

#hero-section, #about-section, #experience-section, #skill-section, #portfolio-section, #contact-section, #page {
  height: 100vh;
  width: 100%;
}

.section-title {
  font-size: 2rem;
  text-align: center;
}

#hero-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}
#hero-section h1 {
  font-size: 3rem;
}
#hero-section h2 {
  font-size: 2rem;
}
#hero-section #name-section {
  align-self: center;
}
#hero-section #name-section .contact-link {
  text-align: center;
}
#hero-section #name-section .contact-link a {
  padding-left: 5px;
  padding-right: 5px;
}

#about-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 5px;
  margin-right: 5px;
}
#about-section .about-inner {
  display: flex;
  flex-basis: 50%;
  flex-grow: 1;
  justify-content: center;
  position: relative;
}
#about-section p, #about-section h2, #about-section .picture-me {
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#experience-section {
  display: flex;
  flex-direction: column;
}
#experience-section #job-experience-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  border: 3px #1B263B solid;
  align-self: center;
}
#experience-section #job-experience-container .job-experience-item {
  display: flex;
  flex-direction: row;
}
#experience-section #job-experience-container .job-experience-item .job-time, #experience-section #job-experience-container .job-experience-item .job-description {
  opacity: 70%;
  font-size: 0.8rem;
}
#experience-section #job-experience-container .job-experience-item .job-title {
  display: flex;
  flex-direction: column;
}
#experience-section #job-experience-container .job-experience-item .job-title h4 {
  margin-top: 15px;
  margin-bottom: 0;
}
#experience-section #job-experience-container .job-experience-item .job-title h5 {
  margin: 0;
  font-style: italic;
  font-weight: 400;
}
#experience-section #job-experience-container .job-experience-item .job-detail {
  flex-basis: 70%;
  flex-grow: 1;
}
#experience-section #job-experience-container .job-experience-item .job-time {
  flex-basis: 30%;
  border-right: 2px #1B263B solid;
  border-bottom: 3px #1B263B solid;
  padding-left: 10px;
  padding-top: 10px;
}
#experience-section #job-experience-container .job-experience-item .job-description {
  padding-left: 10px;
  border-top: 2px #1B263B solid;
  border-bottom: 3px #1B263B solid;
}
#experience-section #resume {
  align-self: center;
}