@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

html{
    font-size: 28px;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
    color:#FEFCFD ;
}
h1,h2,h3,h4,h5{
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    text-align: center;
}
body{
    margin: 0;
    padding: 0;
    background: #5D5D81;
}
header{
    position: sticky;
    top: 0;
    z-index: 1000;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
 #mainHeader{
    a:visited, a{
        color: #E0E1DD;
        text-decoration: none;
    }
    opacity: 90%;
    background-color: #3B3355;
}
 
#header-container{
    display: flex;
    justify-content:space-between;
    align-items: center; 

    #rightHeader{
        display: flex;
        justify-content: center; 
        align-items: center;  
        padding-right: 40px;
    }

    #leftHeader{
        display: flex;
        padding-left: 40px;
    }
}
.nav-menu-item-link {
    margin-left: 20px;
    font-size: 1rem;
}

#hero-section,#about-section, #portfolio-section{
    height: 100vh;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 60px;
}
.section-title{
    font-size: 2rem;
    text-align: center;
}
#hero-section{
    display:flex;
    flex-direction: column;
    justify-content: center;
    h1{
        font-size: 3rem;
    }
    h2{
        font-size: 2rem;
        line-height: 3rem;
    }

    #name-section{
        align-self: center;

        .contact-link{
            text-align: center;
            
            a{
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }
}

#about-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    
    .about-inner{
        display: flex;
        flex-grow: 1;
        justify-content: center;
        position: relative;
        align-items: center;
        
    }   
    .about-paragraph{
        flex-basis: 50%;
        flex-grow: 0;
        text-align: left;
        padding-right: 15px;
        padding-left: 15px;
    }
    a, a:visited
    {
        color: #BFCDE0;
    }
}

#experience-section{
    margin-top: 20px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    #job-experience-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        border: 2px #BFCDE0 solid;
    } 
    .job-experience-item{
        display: flex; 
        flex-direction: row;
        width: 100%;        
    }
    .job-time, .job-description{
        opacity: 70%;
        font-size: .8rem;
        
    }
    .job-title{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px #BFCDE0 solid;
        padding-left: 10px;
        h4{
            margin: 0;
        }
        h5{
            margin:0;
            font-style: italic;
            font-weight: 400;
        }
        .plus-icon{
            align-content: center;
            flex-basis:10%
        }
    }
    .job-detail{
        flex-basis: 70%;
        flex-grow: 1;
        padding-top: 10px;
    }
    .job-time{
        flex-basis: 30%;
        border-right: 2px #BFCDE0 solid;
        border-bottom: 1px #BFCDE0 solid;
        padding-left: 10px;
        padding-top: 10px;
    }
    .job-description{
        padding-left: 10px;
        border-bottom: 1px #BFCDE0 solid;
        display: none;
    }
}

#skill-section{
    margin-top: 20px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    #skill-container{
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        justify-content:center ;
    }
    .skill-detail-list{
        list-style:circle;
        
        .skill-detail-list-item{
            margin-top: 2px;
            margin-bottom: 2px;

            span{
                font-family: "Libre Baskerville", serif;
                font-weight: 700;
            }
        }
    }
    .skill-item{
        border: 2px #BFCDE0 solid;
        width: 35%;
    }
}

footer{
    text-align: center;
    background-color: #3B3355;
    z-index: 1000;
}

.contact-link{
        color: #E0E1DD;
    :visited{
        color: #E0E1DD;
    }
}

